.mutant-year-zero .character .bio-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px 10px;
}

.mutant-year-zero .character .bio-tab .section {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  align-content: center;
}

.mutant-year-zero .character .bio-tab h1 {
  width: 8em;
  align-self: center;
}

.mutant-year-zero .character .bio-tab textarea {
  /*flex-grow: 1;*/
  resize: none;
  width: 75%;
}
