.mutant-year-zero .gear-tab {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
}

.mutant-year-zero .character .consumables {
  display: flex;
  flex-direction: row;
  height: 10%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.mutant-year-zero .character .consumables .consumable {
  font-family: var(--font-special);
  font-weight: bold;
  font-size: 16px;
  margin: 2em;
}

.mutant-year-zero .character .consumables .consumable label {
  width: 8em;
  margin: 0px 5px;
}

.mutant-year-zero .character .consumables .consumable input {
  width: 4em;
}

.mutant-year-zero .character .gears {
  padding-bottom: 8px;
  height: 90%;
}

.mutant-year-zero .character .gears .items .header {
  margin: 0;
  width: 100%;
}

.mutant-year-zero .character .gears .items div + .header {
  margin-top: 8px;
}

.mutant-year-zero .character .gears .gear {
  align-items: center;
}

.mutant-year-zero .character .gears .name {
  align-items: center;
  flex-basis: 60%;
  display: flex;
}

.mutant-year-zero .character .gears .header .name,
.mutant-year-zero .character .gears .name .name,
.mutant-year-zero .character .gears .bonus,
.mutant-year-zero .character .gears .weight,
.mutant-year-zero .character .gears .button {
  margin-left: 4px;
}

.mutant-year-zero .character .gears .bonus {
  flex-basis: 15%;
  text-align: center;
}

.mutant-year-zero .character .gears .bonus.broken {
  color: #a00;
}

.mutant-year-zero .character .gears .weight {
  flex-basis: 15%;
  text-align: center;
}

.mutant-year-zero .character .gears .button {
  flex-basis: 10%;
  font-size: 10px;
  text-align: right;
}
