.mutant-year-zero .main-tab {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mutant-year-zero .skills-tab {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  box-sizing: border-box;
}

.mutant-year-zero .attributes {
  display: flex;
  flex-direction: row;
  height: 20%;
  margin-top: 5px;
  margin-bottom: 15px;
  align-items: center;
  box-sizing: border-box;
}

.mutant-year-zero .attributes h1 {
  text-align: center;
}

.mutant-year-zero .attributes .box {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mutant-year-zero .attributes .box .name {
  font-family: var(--font-special);
  font-size: large;
  margin: auto;
  padding-bottom: 5px;
}

.mutant-year-zero .attributes .box .value {
  margin: auto;
  padding-bottom: 5px;
}

.mutant-year-zero .attributes .box .value input {
  font-family: var(--font-special);
  font-size: xx-large;
  height: 35px;
}

.mutant-year-zero .attributes .box .value input {
  width: 2em;
}

.mutant-year-zero .attributes .broken {
  color: #a00;
}

.mutant-year-zero .conditions {
  display: flex;
  flex-direction: column;
  height: 10%;
  margin-top: 10px;
  box-sizing: border-box;
}

.mutant-year-zero .conditions h1 {
  text-align: center;
}

.mutant-year-zero .conditions a.condition {
  display: inline-block;
  cursor: pointer;
  flex-basis: 25%;
  font-family: var(--font-special);
  font-weight: bold;
}

.mutant-year-zero .conditions .condition.active {
  color: #a00;
}

.mutant-year-zero .skills {
  align-items: baseline;
  display: grid;
  flex-basis: calc(50% - 4px);
  flex-grow: 1;
  gap: 4px 8px;
  grid-template-columns: 1fr auto;
  padding: 0 8px 8px;
}

.mutant-year-zero .skills h1 {
  grid-column: 1/-1;
}

.mutant-year-zero .skills .name {
  font-family: var(--font-special);
  flex-basis: 50%;
}

.mutant-year-zero .skills input {
  width: 2em;
}