.mutant-year-zero .talent-tab {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.mutant-year-zero .character .talents {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;
}

.mutant-year-zero .character .talents .talent {
  align-items: center;
}

.mutant-year-zero .character .talents .talent .name {
  align-items: center;
  flex-basis: 65%;
  display: flex;
}

.mutant-year-zero .character .talents .talent .name .name {
  margin-left: 4px;
}

.mutant-year-zero .character .talents .talent .rank {
  flex-basis: 15%;
  text-align: center;
}

.mutant-year-zero .character .talents .talent .button {
  flex-basis: 20%;
  font-size: 10px;
  text-align: right;
}

.mutant-year-zero .character .mutations {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 8px;
}

.mutant-year-zero .character .mutations .mutation {
  align-items: center;
}

.mutant-year-zero .character .mutations .mutation .name {
  align-items: center;
  flex-basis: 65%;
  display: flex;
}

.mutant-year-zero .character .mutations .mutation .name .roll-mutation {
  margin-left: 4px;
  font-weight: normal;
  text-align: left;
}

.mutant-year-zero .character .mutations .mutation .rank {
  flex-basis: 15%;
  text-align: center;
}

.mutant-year-zero .character .mutations .mutation .button {
  flex-basis: 20%;
  font-size: 10px;
  text-align: right;
}
