.roll-dialog {
    display: flex;
    flex-wrap: wrap;/*
    background-image:url(../asset/sheet-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}

.roll-dialog b {
    text-align: center;
    flex-basis: 50%;
    margin: 10px 5px;
}

.roll-dialog input {
    align-items: center;
    flex-basis: 25%;
    margin: 10px 5px;
}